/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 3.5rem tall */

body {
  padding-top: 3.5rem;
}
#loading {
  position:fixed;
  background-color:rgba(255,255,255,0.85);
  top:0px;
  left:0px;
  right:0px;
  bottom:0px;
  z-index: 9999999;
}
.center-fixed{
  position:fixed;
  left:50%;
  top:50%;
  transform:translate(-50%,-50%);
}
/*
 * Typography
 */

h1 {
  padding-bottom: 9px;
  margin-bottom: 20px;
  border-bottom: 1px solid #eee;
}

/*
 * Sidebar
 */

 .nav-title {
      font-size: 12px;
    border-bottom: 1px solid rgba(0,0,0,0.25);
    padding: 0.25rem 0rem;
    margin: 0px .7rem;
 }

.sidebar {
  position: fixed;
  top: 51px;
  bottom: 0;
  left: 0;
  z-index: 1000;
  padding: 20px 0;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  border-right: 1px solid #eee;
}

.sidebar .nav {
  margin-bottom: 20px;
}

.sidebar .nav-item {
  width: 100%;
}

.sidebar .nav-item + .nav-item {
  margin-left: 0;
}

.sidebar .nav-link {
  border-radius: 0;
}

/*
 * Dashboard
 */

/* Placeholders */
.placeholders {
  padding-bottom: 3rem;
}

.placeholder img {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
